<div class="clean">
  
    <div class="cle">

    <p class="head">Clean Tailings Ponds (CTP) Technology</p>
    <div class="col-md-4">
     <%= image_tag("cleaimage1.jpg", class: "img-circle", alt: "Cinque Terre", size: "270x236")%>
     </div>
     <div class="col-md-4">
     <%= image_tag("cleaimage2.jpg", class: "img-circle", alt: "Cinque Terre", size: "270x236")%>
     </div>
     <div class="col-md-4">
     <%= image_tag("cleaimage3.jpg", class: "img-circle", alt: "Cinque Terre", size: "270x236")%>
     </div>

     <div class="col-md-4">
     <%= image_tag("cleaimage4.jpg", class: "img-circle", alt: "Cinque Terre", size: "270x236")%>
     </div>
     <div class="col-md-4">
     <%= image_tag("cleaimage5.jpg", class: "img-circle", alt: "Cinque Terre", size: "270x236")%>
     </div>
     <div class="col-md-4">
     <%= image_tag("cleaimage6.jpg", class: "img-circle", alt: "Cinque Terre", size: "270x236")%>
     </div>     
    <p>Petro Engineering Canada Ltd. has developed an innovative technology to convert waste to energy while protecting the environment. CTP technology is our break-through green technology.

    CTP technology could be applied to clean existing 77 square kilometres of oil sands tailings ponds in Alberta and convert waste to energy in this process.</p>

    <h3>Introduction</h3>
    <p>One of the major operational and environmental challenges facing oil sands mining is Mature Fine Tailings (MFT). 

     The large volumes of MFT requiring safe containment and the vigilant management of capping water represent a significant management challenge and liability for the oil sands industry.

     Tailings management practices at the operating plants over the last four decades have resulted in large inventories of MFTs requiring long term storage within fluid containment structure.

     The Clean Tailings Ponds (CTP) technology would help to reduce amount of MFT in a very environmentally friendly process. In addition, the CAPEX and OPEX of CTP is relatively low and CTP technology could provide positive energy balance advantages as well.</p>

    <h3>Benefits</h3>
    <p></p>
    <ul>
    <li>1-Treating / reducing tailings resulting in reclamation of ponds</li>
    <li>2-Very low reclamation costs in terms of OPEX and CAPEX</li>
    <li>3-It is feasible to produce energy throughput syngas from conversion of MFT in gasification plasma reactor. In other words, CTP process is a new way to upgrade no value MFT as fuel to power/steam generation systems.</li>
    <li>4-Mature Fine Tailings (MFTs) volume reduction up to 98% in relatively low time consuming method.</li>
    <li>5-Very environmental friendly method in terms of MFT conversion to syngas within minimal environmental effects.</li>
    <li>6-Simpler and less costly operation.</li>
    <li>7-High conversion efficiency.</li>
    <li>8-Energy efficiency.</li>
    <li>9-Fully modular-self contained design requiring no external facilities/utilities.</li>
    <li>10-Mobile skid units operable in remote areas.</li>
    </ul>

    <h3>Process Description</h3>
    <p>In CTP process, tailings are fed into a gasification reactor equipped with plasma torches generating high heat in the reactor. Mature Fine Tailings (MFT) are transformed to a gas which contains substantial energy and can be used in a variety of ways.

    Plasma gasification technology is a relatively new technology however this would be the first time that it is being applied for treating and managing tailings ponds in the oil sands industry (this high-temperature process namely production of an inert vitrified slag and a tar-free synthesis gas).

    Synthesis gas is an intermediate product that can be produced by gasification of a wide range of feedstock and it can be turned into an equally wide range of products. In the First Phase it is targeted to reduce environmental impact of tailings ponds in Alberta and in the next phases maximum energy recovery is envisioned.   

    In the First Phase, a mobile and fully modular compact skid is proposed although it is very feasible to scale it up later.</p>

      
    </div>

  </div>
    
      


    <!--end of Clean-->

