<div class="construction">
     
     <p class="head">Construction Management</p>

     <div class="cons"> 
     <div class="col-md-4">      
     <%= image_tag("consimage1.jpg", class: "img-circle", alt: "Cinque Terre", size: "304x236")%>  
     </div>
     <div class="col-md-4">
     <%= image_tag("consimage2.jpg", class: "img-circle", alt: "Cinque Terre", size: "304x236")%> 
     </div>
     <div class="col-md-4">
     <%= image_tag("consimage3.jpg", class: "img-circle", alt: "Cinque Terre", size: "304x236")%> 
     </div>

     <div class="col-md-4">
     <%= image_tag("consimage4.jpg", class: "img-circle", alt: "Cinque Terre", size: "304x236")%> 
     </div>
     <div class="col-md-4">
     <%= image_tag("consimage5.jpg", class: "img-circle", alt: "Cinque Terre", size: "304x236")%>
     </div>
     <div class="col-md-4">
     <%= image_tag("consimage6.jpg", class: "img-circle", alt: "Cinque Terre", size: "304x236")%>
     </div>     
     
     <p>We have extensive construction management experience, obtained from a variety of projects <br>in the refining, oil and gas and power industries. <br>These construction management services may be provided individually or<br> as an integrated package for complete project execution,<br> depending on particular project and client requirements.</p>
     <p>Our scope of work has included:</p>
     <ul>
     <li>Preparation of material requisitions</li>
     <li>Contract and contractor administration and supervision</li>
     <li>Contract development and evaluation</li>
     <li>Freight logistics</li>
     <li>Construction quality control</li>
     <li>Computerized cost accounting and control</li>
     <li>Constructability implementation</li>
     <li>Project reporting</li>
     <li>Shop and field inspection</li>
     <li>Field material receiving and control</li>
     <li>Scheduling</li>
     <li>Development of construction specifications and tender packages,<br> and the subsequent tender package evaluation</li>
     <li>Developing and implementing construction planning scheduling</li>
     <li>Safety procedures and management</li>
     <li>Labour relations</li>
     <li>Multi-discipline construction supervision</li>
     <li>Heavy rigging planning and supervision</li>
     </ul>
     <p>Clients expect quality in all our endeavours, and our detailed <br>construction quality plans ensure that standards are defined and met.<br> We are flexible in our approach to all projects, and are able<br> to meet our clients' needs whether we are working on site,<br> from the client’s office, or from our own offices.
     Environment, health <br>and safety are critical items on all construction <br>projects for many reasons including protecting the welfare of<br> employees, providing a safe work environment and controlling overall<br> costs.<  Safety is planned into every job from the design<br> stage and remains an integral part of the construction management process,<br> throughout the project.</p>
     </div>


     
     </div>

    <div><!--end of construction-->
