<div class="engineering"><!--engineering-->


     <div class="eng">
      <div class="col-md-8"> 
     <h2>Engineering</h2>
     <p>We have experience in all phases of project development, including:</p>
     <ul>
     <li>Screening and technical feasibility studies</li>
     <li>Conceptual design and development of front-end loading packages, process design specifications, design basis memoranda, economic evaluations and preparation of project justification for approval</li>
     <li>Engineering analysis including simulation, design and optimization</li>
     <li>Basic engineering packages on the basis of third-party design and licensor technologies</li>
     <li>Preparation of detailed design specifications and documentation for complete plant facilities, including definitive cost estimates</li>
     <li>Detailed multi-discipline designs, including design team co-ordination</li>
     <li>Liaison with operating groups to receive input for basic and detailed design</li>
     <li>In-plant modifications and additions, complete with system tie-ins and tight shutdown scheduling</li>
     <li>Project management, planning, scheduling, cost control and progress reporting</li>
     <li>Procurement, construction and construction management</li>
     <li>Field inspection, commissioning, start-up and operator training</li>
     </ul>
     </div>
     <div class="col-md-4">    
     <h2></h2>
     <p></p>     
     <%= image_tag("engeng.jpg", class: "img-circle", alt: "Cinque Terre", size: "350x500")%>    
     </div>
     </div>
    
      
     <div class="prc">
     <div class="col-md-8"> 
     <h2>Process Design</h2>
     <p>All aspects of process design, from simulation and chemistry modelling through to start and commissioning support:</p>
     <ul>
     <li>Oil sands mining, extraction and upgrading</li>
     <li>Gas sweetening/dehydration</li>
     <li>Sulphur recovery/tail gas clean-up</li>
     <li>LPG and LNG processing (turbo expanders/refrigeration)</li>
     <li>Heavy oil recovery and upgrading</li>
     <li>Crude oil treatment</li>
     <li>Oil transportation and storage</li>
     <li>Enhanced oil recovery</li>
     <li>Petroleum refining</li>
     <li>Hydrogen optimization and recovery</li>
     <li>Petrochemical processes</li>
     <li>Industrial water and effluent treatment facilities</li>
     <li>Methanol, ammonia and hydrogen processes</li>     
     </ul>
     </div>
     <div class="col-md-4">
     <h2></h2>
     <p></p>
     <%= image_tag("engprc.jpg", class: "img-circle", alt: "Cinque Terre", size: "350x500")%>     
     </div>
     </div>


     <div class="mec">
     <div class="col-md-8"> 
     <h2>Mechanical Design</h2>
     <p>All aspects of piping design including:</p>
     <ul>
     <li>Modularization and spooling</li>
     <li>Stress analysis</li>
     <li>Bulk storage, tankage, mixing and loading facilities</li>
     <li>Cogeneration, combined-cycle and simple-cycle power plant development</li>
     <li>Transfer and receiving facilities</li>
     <li>Material handling</li>
     <li>Steam generation and distribution</li>
     <li>Pipeline facilities such as compressor stations, pump stations, terminals, blending systems, pigging systems</li>
     <li> pipeline control systems, including SCADA with state-of-the-art DCS and PLC equipment</li>
     <li>Pipelines for gathering, distribution and transmission including</li>
     <li>Route selection</li>
     <li>Cooling towers and water distribution systems</li>
     <li>Pressure vessels</li>
     <li>Pumping systems</li>
     <li>Cavern storage</li>
     <li>HVAC</li>
     <li>Fire water protection systems, deluge systems</li>
     <li>Dust collection</li>
     <li>Selection and specification of equipment (including major rotating equipment and drivers, materials and procedures)</li>
     <li>Fractionation (all types)</li>
     <li>Hydroelectric and thermal generation</li>
     </ul>
     </div>

     <div class="col-md-4">
     <h2></h2>
     <p></p>
     <%= image_tag("engmec.jpg", class: "img-circle", alt: "Cinque Terre", size: "350x700")%>    
     </div>

     </div>


     <div class="iac"> 
     <div class="col-md-8">
     <h2>Instrumentation and Controls Design</h2>
     <p></p>
     <ul>
     <li>Specification, design, programming and commissioning of Programmable Logic Control (PLC) and distributed control systems (DCS) </li>
     <li>Safety instrumentation systems</li>
     <li>SCADA</li>
     <li>Control room design with multiple consoles, indirect lighting and environmental control</li>
     <li>Annunciation, monitoring and data logging</li>
     <li>Flow computers and ‘smart’ devices</li>
     <li>Plant upgrades and pneumatic to state-of-the-art technology</li>
     <li>HAZOP and SIL audits</li>
     <li>Audit drawing systems</li>
     <li>Instrument databases (InTools)</li>
     <li>Burner management systems</li>
     <li>Technical support of operating plants</li>     
     </ul>
     </div>
      
     <div class="col-md-4">
     <h2></h2>
     <p></p>
     <%= image_tag("engiac.jpg", class: "img-circle", alt: "Cinque Terre", size: "350x450")%>   
     </div> 

     </div>


     <div class="elc"> 

     <div class="col-md-8">
     <h2>Electrical Design</h2>
     <p></p>
     <ul>
     <li>Power distribution (high and low voltage)</li>
     <li>Plant distribution of power and control wiring</li>
     <li>Lighting, heating and energy conservation</li>
     <li>Transmission, substations and switch yards with utility tie-ins</li>
     <li>Design seminars</li>
     <li>As-builts</li>
     <li>Protection and control</li>
     <li>Specialized equipment drives (large synchronous and induction motors), variable speed AC drives, DC drives and specialty control systems, including speed and/or torque feedback (tachometer generators)</li>
     <li>Relay coordination studies and protection relay systems (overcurrent, ground fault, differential, under voltage)</li>
     </ul>
     </div>

     <div class="col-md-4">
     <h2></h2>
     <p></p>
     <%= image_tag("engelc.jpg", class: "img-circle", alt: "Cinque Terre", size: "304x400")%>  
     </div> 
     

     </div>


     <div class="civ"> 

     <div class="col-md-8">
     <h2>Civil Design</h2>
     <p></p>
     <ul>
     <li>Site development including grading, drainage, roads and paving</li>
     <li>Railroad tracks, spurs, switching, weigh scales</li>
     <li>Roads and bridges</li>
     <li>Reservoirs for storage and pumping</li>
     <li>Underground storage tanks and environmental protection systems</li>
     <li>Storm and sanitary sewers and disposal systems</li>
     <li>Effluent ponds, containment</li>
     <li>Dikes, bunkers</li>
     <li>Pile Design</li>
     <li>Structural design</li>
     <li>Shallow/deep foundations, superstructures, industrial buildings and construction camps</li>
     <li>Towers, flare stacks, feeder breakers (mining) and elevated equipment support , Material storage structures (solids, liquids, gases)</li>     
     <li>Maintenance facilities, washbays and loading docks</li>
     <li>Permafrost and northern region foundations and buildings</li>
     <li>Modularization of process equipment, piping and lifting and transportation of modules</li>
     <li>Dynamic and blast analysis</li>
     <li>Fire Protection</li>     
     </ul>
     </div>     

     <div class="col-md-4">
     <h2></h2>
     <p></p>
     <%= image_tag("engciv.jpg", class: "img-circle", alt: "Cinque Terre", size: "350x550")%> 
     </div> 

     </div>


     <div class="env">
     <div class="col-md-8"> 
     <h2>Environmental and Regulatory Services</h2>
     <p>Our environmental and regulatory services are focused on providing practical solutions to environmental problems. We provide high-quality, cost-effective services through our continuous evaluation and incorporation of recent advancements in process systems and designs for pollution control and remediation. Services include:</p>
     <ul>
     <li>Permits, licences and approvals</li>
     <li>Planning and management of remediation projects</li>
     <li>Integration with environmental impact assessment activities</li>
     <li>Community relations</li>
     <li>Greenhouse gas management</li>
     <li>Emissions estimating and reporting</li>
     <li>Waste management planning</li>
     <li>Pipeline environmental planning</li>
     <li>Dispersion modelling</li>     
     </ul>
     </div>
     
     <div class="col-md-4">
     <h2></h2>
     <p></p>
     <%= image_tag("engenv.jpg", class: "img-circle", alt: "Cinque Terre", size: "350x450")%>  
     </div> 

     </div>


     <div class="val"> 
     <div class="col-md-8">
     <h2>Value-Improving Practices</h2>
     <p>We recognize that the successful application of value-improving practices (VIPs) requires a formal, disciplined approach. To have maximum effect on project costs, VIPs need to be implemented at the optimal time, and therefore must be scheduled and resourced very early in the life of a project. Adequate resources must be set aside, and the activities must be carried out thoroughly. This is why at we routinely use the following VIPs in our project work:</p>
     <ul>
     <li>Technology/process selection</li>
     <li>Process simplification</li> 
     <li>Classes of facility quality</li>
     <li>Waste minimization</li>
     <li>Constructability review</li>
     <li>Reliability modelling</li>
     <li>Customization of engineering standards and specifications</li>
     <li>Predictive maintenance</li>
     <li>Design to capacity</li>
     <li>Energy optimization</li>
     <li>3D-CAD</li>
     <li>Value engineering</li>       
     </ul>
     </div>

     <div class="col-md-4">     
     <h2></h2>
     <p></p>
     <%= image_tag("engval.jpg", class: "img-circle", alt: "Cinque Terre", size: "350x550")%>  
     </div>

     </div>





      
    </div><!--end of engineering-->
