<div class="enhanced">
    <div class="enh">
    <p class="head"> Enhanced Oil Recovery (EOR)</p>
    <div class="col-md-4">
     <%= image_tag("eorimage1.jpg", class: "img-circle", alt: "Cinque Terre", size: "270x236")%>
     </div>
     <div class="col-md-4">
     <%= image_tag("eorimage2.jpg", class: "img-circle", alt: "Cinque Terre", size: "270x236")%>
     </div>
     <div class="col-md-4">
     <%= image_tag("eorimage3.jpg", class: "img-circle", alt: "Cinque Terre", size: "270x236")%>
     </div>

     <div class="col-md-4">
     <%= image_tag("eorimage4.jpg", class: "img-circle", alt: "Cinque Terre", size: "270x236")%>
     </div>
     <div class="col-md-4">
     <%= image_tag("eorimage5.jpg", class: "img-circle", alt: "Cinque Terre", size: "270x236")%>
     </div>
     <div class="col-md-4">
     <%= image_tag("eorimage6.jpg", class: "img-circle", alt: "Cinque Terre", size: "270x236")%>
     </div>     
    <p>We specialize in Enhanced Oil Recovery (EOR) methods and technologies to increase the recovery of oil from existing reservoirs. Our main area of focus is Artificial Lift engineering and equipment selection.

    Artificial Lift technologies as part of an overall reservoir recovery strategy could be used to increase production in a short span of time with low capital expenditures.

    We recognize that different clients may have varying needs deserving customized engineered solutions to meet their requirements. We provide turnkey solutions consisting of engineering services and equipment supply to increase crude production rates within client schedule requirements.

    Artificial lift is a mean of overcoming bottom hole pressure so that a well can produce at some desired rate, either by injecting gas/water into the producing fluid column to reduce its hydrostatic pressure, or using a downhole pump to provide additional lift pressure downhole.

    We tend to associate artificial lift with mature, depleted fields, where Pavg has declined such that the reservoir can no longer produce under its natural energy. These methods are also used in younger fields to increase production rates and improve project economics.

    The most common artificial lift methods are: Gas or water lift, Plunger Lift, Alkali Surfactant Polymer Flood (ASP), and Pump-Assisted Lift.
    Our expertise are in the following areas:</p> 
    <ul>
      <li>Pump-Assisted Lift – Reciprocating Rod Pumps</li>
      <li>Pump-Assisted Lift – Progressive Cavity pumps (PCP)</li>
      <li>Pump-Assisted Lift – Hydraulic Pumps</li>
      <li>Pump-Assisted Lift – Electric Submersible Pumps (ESP)</li>
      <li>Pump-Assisted Lift – API C/B/F/R and CYJ Pumps</li>
      <li>Alkali Surfactant Polymer Flood (ASP)</li>      
    </ul>

    </div>

    </div>

    <!--end of Enhanced-->   