<div class="experience">
    
    <p class="head">Experience</p>
  
    <%= image_tag("expeimage1.jpg", size: "1190x200")%>
    <%= image_tag("expeimage2.jpg", size: "1190x200")%>
    <%= image_tag("expeimage3.jpg", size: "1190x200")%>
    <%= image_tag("expeimage4.jpg", size: "1190x200")%>
    <%= image_tag("expeimage5.jpg", size: "1190x200")%>
    <%= image_tag("expeimage6.jpg", size: "1190x200")%>
    <%= image_tag("expeimage7.jpg", size: "1190x200")%>
    <%= image_tag("expeimage8.jpg", size: "1190x200")%>
    <%= image_tag("expeimage9.jpg", size: "1190x200")%>
    
</div>
    <!--end of Experience-->    
