 <div class="container">
             <p class="name">Petro Engineering Canada Ltd.</p>
             <p class="standard">Fit for Purpose Engineering</p>
             <div class="background">
              <div class="transbox">

                
                <div class="row"> 
                <div class="col-md-4">                
                <%= image_tag("logo.jpg", size: "200x300")%>
                </div>
                <div class="col-md-4">
                <%= image_tag("logo.jpg", size: "200x300")%>
                </div>
                <div class="col-md-4">
                <%= image_tag("logo.jpg", size: "200x300")%>
                </div>
                </div>         
               

              </div>
             </div> 
            </div>

            <div class="text">
             <p>Some of our Potential Projects which are under Study</p>
            </div>

            <div class="row">

               <div class="col-md-4">
                <p>Compressor Stations</p>     
                <%= image_tag("indexcomp.jpg", class: "img-circle", alt: "Cinque Terre", size: "270x236")%>
              </div>

              <div class="col-md-4">
                <p>Crud Oil Desalter</p>
                <%= image_tag("indexoil.jpg", class: "img-circle", alt: "Cinque Terre", size: "270x236")%>
              </div> 

              <div class="col-md-4">
                <p>Liquid Natural Gas</p>
                <%= image_tag("indexcomp.jpg", class: "img-circle", alt: "Cinque Terre", size: "270x236")%>
              </div>

              <div class="col-md-4">
                <P>Metering Skid</P>
                <%= image_tag("indexmeter.jpg", class: "img-circle", alt: "Cinque Terre", size: "270x236")%>
              </div>

              <div class="col-md-4">
               <p>NGL Plant</p>
               <%= image_tag("indexngl.jpg", class: "img-circle", alt: "Cinque Terre", size: "270x236")%>
              </div>


              <div class="col-md-4">
                <p>SAGD Plant</p>
                <%= image_tag("indexsagd.jpg", class: "img-circle", alt: "Cinque Terre", size: "270x236")%>
              </div>  

            </div>




              
     </div><!-- end of Home -->
