<div class="procurement">
    <div class="procu"> 
     <p class="head">Procurement</p>
     
     <div class="col-md-4">      
     <%= image_tag("procuimage1.jpg", class: "img-circle", alt: "Cinque Terre", size: "304x236")%> 
     </div>
     <div class="col-md-4">
     <%= image_tag("procuimage2.jpg", class: "img-circle", alt: "Cinque Terre", size: "304x236")%> 
     </div>
     <div class="col-md-4">
     <%= image_tag("procuimage3.jpg", class: "img-circle", alt: "Cinque Terre", size: "304x236")%> 
     </div>

     <div class="col-md-4">
     <%= image_tag("procuimage4.jpg", class: "img-circle", alt: "Cinque Terre", size: "304x236")%> 
     </div>
     <div class="col-md-4">
     <%= image_tag("procuimage5.jpg", class: "img-circle", alt: "Cinque Terre", size: "304x236")%> 
     </div>
     <div class="col-md-4">
     <%= image_tag("procuimage6.jpg", class: "img-circle", alt: "Cinque Terre", size: "304x236")%> 
     </div>


     <p>We collaborate closely with our clients to develop the optimal procurement strategy that will address the following issues:</p>
     <ul>
     <li>Preparation of material requisitions</li>
     <li>Shop inspection</li>
     <li>Payment scheduling</li> 
     <li>Preparation of bid documents</li> 
     <li>Contract negotiation</li> 
     <li>Tender and evaluation of material bids</li> 
     <li>Award and expediting of material</li> 
     <li>Warehousing</li> 
     <li>Shipping coordination</li> 
     <li>Material expediting and receiving</li> 
     <li>Invoicing approval</li>
     <li>Sales tax expertise</li>
     </ul>
     
     </div>     


     </div><!--end of procurement-->
