<div class="technology">
    <div class="cont">
    
     <p class="head">Technology Alliances</p>
     <div class="col-md-4">     
     <%= image_tag("aliimage1.jpg", class: "img-circle", alt: "Cinque Terre", size: "270x236")%> 
     </div>
     <div class="col-md-4">
      <%= image_tag("aliimage2.jpg", class: "img-circle", alt: "Cinque Terre", size: "270x236")%>
     </div>
     <div class="col-md-4">
      <%= image_tag("aliimage3.jpg", class: "img-circle", alt: "Cinque Terre", size: "270x236")%>
     </div>

     <div class="col-md-4">
      <%= image_tag("aliimage4.jpg", class: "img-circle", alt: "Cinque Terre", size: "270x236")%>
     </div>
     <div class="col-md-4">
      <%= image_tag("aliimage5.jpg", class: "img-circle", alt: "Cinque Terre", size: "270x236")%>
     </div>
     <div class="col-md-4">
      <%= image_tag("aliimage6.jpg", class: "img-circle", alt: "Cinque Terre", size: "270x236")%>
     </div>     
     <p>We believe in using the most current, leading-edge, proven technology to provide our clients with <br>facilities that offer the optimum combination of capital cost and operability.<br> We have worked with major process licensors in the refining, mineral <br>and metallurgical and natural gas processing industries.</p>
     <p>Following fields of technology are our specialities:</p>
     <ul>
     <li>Gas Treating</li>
     <li>Enhanced Oil Recovery</li>
     <li>Heavy Oil Emulsion Treating</li>
     <li>Tailing Ponds Treatment and Reclamation</li>
     <li>Gasification Technology and Applications to Oil & Gas Industry</li>
     <li>SAGD Oil Recovery</li>
     <li>Shallow Cut / Deep Cut Units</li>
     <li>Solar Power</li>
     <li>Desalination Plants</li>
     <li>Solar Desalination</li>
     </ul>

     
    </div> 


    
</div>

    <!--end of container-->