<div class="template">
     
      
     <p class="head">Typical SAGD Plant Design Templates</p>
     <div class="col-md-4">
     <%= image_tag("sagdimage1.jpg", class: "img-circle", alt: "Cinque Terre", size: "270x236")%> 
     </div>
     <div class="col-md-4">
     <%= image_tag("sagdimage2.jpg", class: "img-circle", alt: "Cinque Terre", size: "270x236")%>
     </div>
     <div class="col-md-4">
     <%= image_tag("sagdimage3.jpg", class: "img-circle", alt: "Cinque Terre", size: "270x236")%>
     </div>

     <div class="col-md-4">
     <%= image_tag("sagdimage4.jpg", class: "img-circle", alt: "Cinque Terre", size: "270x236")%>
     </div>
     <div class="col-md-4">
     <%= image_tag("sagdimage5.jpg", class: "img-circle", alt: "Cinque Terre", size: "270x236")%>
     </div>
     <div class="col-md-4">
     <%= image_tag("sagdimage6.jpg", class: "img-circle", alt: "Cinque Terre", size: "270x236")%>
     </div>     
     <p>Petro Engineering Canada Ltd. has developed standard design templates for 5,000 BPD and 10,000 BPD SAGD plants as well as Well Pads. These off-the-shelf design packages could provide our clients with modular design concepts ready to go reducing project engineering and procurement durations resulting in substantial cost savings to customers.</p>
     <p>Typical SAGD plants invariably have the following process units built in the CPF (Central Processing Facility) and well pads:</p>
     <ul>
     <li> Bitumen Treatment (Treater, FWKO, De-Sanding, Slop Treatment, Exchanger Wash, Chemical Injection, Sales Oil Management and LACT)</li>
     <li>Storage Tanks Facility (Bitumen, Diluent, Water, etc.)</li>
     <li>De-Oiling (Skim Tank, Induced Gas Flotation(IGF), Oil Removal Filters (ORF), De-Oiled water tank)</li>
     <li>Water Treatment (After Filter/SAC, HLS Package, Caustic & Brine Systems, Process Pond, Blowdown Tank, chemical packages)</li>
     <li>Steam Generation (OTSGs, Water Disposal System, HP/LP/MP steam systems, BFW system)</li>
     <li> Utilities (Brackish water, VRU, Fuel Gas, LP/HP Flare, heating/cooling medium, Produced Gas, Air, electric power, Safety Systems)</li>
     <li>Sulfur production and recovery as required</li>
     <li>Offices and Warehouses</li>
     <li>Well Pads (Test Separator, Produced Vapor Compressor, Steam Inlet, Condensate Tank, Vent Stack, Sleeper Racks, Production Pumps)</li>
     </ul>
     <p>Deliverables shortly after contract award are:</p>
     <ul>
       <li>1. BFDs</li>
       <li>2. PFDs</li>
       <li>3. Equipment List</li>
       <li>4. Plot Plans</li>
       <li>5. Modules’ 3D Model (ready for 60% model review)</li>
       <li>6. Material Requisitions (MRs) for major mechanical / electrical equipment and manual valves</li>
       <li>7. PIDs</li>
       <li>8. EWPs for all pipe rack modules (structural steel, piping, electrical)</li>
       <li>9. EWPs for selected process modules</li>
       <li>10. Preliminary MTOs (piping, electrical, instrumentation)</li>
     </ul>
      

</div>
    <!--end of Template-->  
